*{
    margin: 0;
    padding: 0;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

.right{
    float:right;
}
.left{
    float:left;
}

.inline_block{
    display: inline-block;
}

.button{
    height: 100px;
    border-bottom: 2px solid #ff6700;
}

/*------------------------- 头 -------------------------*/
.title{
    padding-top: 30px;
}

.title_left{
    width: 48px;
    height: 48px;
}

.title_in{

}

.title_in > p{
    font-size: 28px;
    font-weight: 500;
    margin-left: 35px;
}


.title_in > span{
    margin-left: 20px;
    font-size: 12px;
    color: #757575;
    line-height:50px;
}

.title_right{

}

.title_right > span{
    color: #757575;
}

.title_right > a{
    font-size: 12px;
    color: #757575;
    text-decoration: none;
    line-height:50px;
}
/*------------------------- 头 -------------------------*/

/*------------------------- 订单信息 -------------------------*/



.span{
    color: #ff6700;
}

.order{

}

.order > ul{
    list-style: none;
    margin-top: 20px;
}

.order > ul >li{
    margin: 10px 0;
}

.order > ul > li > p{
    display: inline-block;
    width: 100px;
}

.order_li_1 > span{
    display: inline-block;
    float: right;
    line-height: 60px;
    color: #ff6700;
}

.order_li_2{
    font-size: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}


/*------------------------- 订单信息 -------------------------*/


/*------------------------- 付款方式 -------------------------*/
.mode{
    background: #ffffff;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.mode_title{
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.mode_select{
    float: left;
    padding-top: 20px;
}

.mode_select > div:nth-of-type(1){
    padding: 10px;
}

.mode_select > a{

    display: block;
    width: 150px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
    color: #757575;

}

.mode_select > a:hover{
    background: #e0e0e0;
}

.mode_select > a:focus{
    background: #e0e0e0;
}

/*------------------------- 付款方式 -------------------------*/

/*------------------------- 弹出结算 -------------------------*/
.knot{
    margin-top: 10px;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #ff6700;
}

.knot_title{
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.knot_info{
    margin-top: 10px;
}

.knot_info > a{
    display: block;
    float: right;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 50px;
    background: #ff6700;
}
/*------------------------- 弹出结算 -------------------------*/



