<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="ch">
<head>
    {% load static %}
    <title>{% block title %}确认订单{% endblock %}</title>
    <meta charset="UTF-8">
    {% block css %}
        <link rel="stylesheet" href="{% static 'store/css/app/confirm.css' %}">
        <script src="{% static 'commons/js/distpicker/distpicker.data.js' %}"></script>
        <script src="{% static 'commons/js/distpicker/distpicker.js' %}"></script>
    {% endblock %}


</head>
<body>
{% block nav %}
{% endblock %}

{% block baner %}
{% endblock %}

{% block main %}


    <div class="container_fluid button">
        <div class="container title">
            <!--左-->
            <a href="{% url 'commons:index' %}">
                <img class="title_left left" src="{% static 'store/images/mi.png' %}">
            </a>
            <!--中-->
            <div class="title_in">
                <p class="left">确认订单</p>
                <span class="left">温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</span>
            </div>
            <!--右-->
            <!--<div class="title_right right">-->
                <!--<a href="javascript:void(0);">-->
                    <!--这里显示用户名-->
                <!--</a>-->
                <!--<span>|</span>-->
                <!--<a href="javascript:void(0);">-->
                    <!--我的订单-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
<div class="container-fluid bg">
    <div class="container prospect">
        <!--收货地址-->
        <form id="confirm_form" action="{% url 'store:qwe' %}" method="post">
        {% csrf_token %}
        <div class="address">
            <div class="address_title">
                <h4 class="inline_block">收货地址</h4>
                <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;大型商品下单后，收货地址将无法修改。快递公司会电话联系您确认送货时间，收货时需核对身份证信息。</span>
            </div>
            <div class="container">
            {% for address in addresses %}
                <a href="javascript:void(0);" class="text-center address_a">
                    <input type="radio" class="rad" value="{{address.id}}" name="address">
                    {{address.province}}
                    {{address.city}}
                    {{address.area}}
                    <input id="hi" type="hidden">
                </a>
            {% empty %}
                <a href="{% url 'store:address' %}" class="text-center address_a">
                    点击添加收货地址
                </a>
        {% endfor %}
                 <a href="{% url 'store:address' %}" class="text-center address_a">
                    点击添加收货地址
                </a>
            </div>
        </div>

        <!--商品-->
        <div class="commodity">
            <div class="commodity_title">
                <h4 class="inline_block">商品</h4>
                <a class="right" href="{% url 'store:my_cart' %}">返回购物车 ></a>
            </div>

            <div class="commodity_sum">
                <ul>
                    {%for shop in shopCarts%}
                    <li>
                        <input class="shop_num" type="hidden" name="s_id" value="{{shop.id}}">
                        <img src="https://i1.mifile.cn/a1/pms_1527735134.03584233!30x30.jpg">
                        <a href="javascript:void(0)">{{shop.goods.name | truncatechars:30}}</a>
                        <span class="right money">{{shop.allTotal}}元</span>
                        <span class="right">{{shop.goods.price}}元x{{shop.count}}</span>

                    </li>
                    {% empty %}
                    <li class="text-center">
                        无商品
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <!--配送方式-->
        <div class="method">
            <div class="method_title">
                <h4 class="inline_block">配送方式</h4>
                <span> 包邮 </span>
            </div>
        </div>

        <!--发票-->
        <div class="invoice">
            <div class="invoice_title">
                <h4 class="inline_block">明细</h4>
                <span> 请认真审核一哈 </span>
            </div>

            <div class="invoice_info">
                <ul class="right text-right">
                    <li>
                        <div class="inline_block">商品件数:</div>
                        <div class="inline_block js"> 1 件</div>
                    </li>
                    <li>
                        <div class="inline_block">商品总价:</div>
                        <div class="inline_block"><span class="ssss"></span></div>
                    </li>
                    <li>
                        <div class="inline_block">运费:</div>
                        <div class="inline_block">0元</div>
                    </li>
                    <li>
                        <div class="inline_block">应付总额:</div>
                        <div class="inline_block"><span class="ssss"></span></div>
                    </li>
                </ul>
            </div>
        </div>
</form>
    </div>

    <div class="container go_shopping">
        <a href="{% url 'store:pay' %}">去结算</a>
    </div>
</div>

{% endblock %}
{% block script %}
<script>


    $().ready(function () {
        /*城市选择控件*/
	    $("#distpicker1").distpicker();

        // 计算商品总数
        var num = $('.shop_num').length;
        $('.js').text(num);

        // 获取单价
        var price = $('.money').text();
        $('.ssss').text(price);


        // 地址
        $('#tj').click(function () {
            // var val = $('input:radio[name="1"]:checked').val();
            var val = $('.rad:checked').val();

        $('#sub').on('click',function (e) {
           $('#confirm_form').submit();
        });
            console.log(val);
        //     $.ajax({
        //         url:'/store/qwe/',
        //         method:'POST',
        //         dataType: 'json',
        //         // 需要地址ID和商品ID
        //         data:{'address':val, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
        //         success: function (data) {
        //             console.log('成功')
        //         }
        //
        //     })
        //
        // })


    })
        })
</script>
{% endblock %}
</body>
</html>