<!DOCTYPE html>
<html lang="zh">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>支付</title>
    <link rel="stylesheet" href="{% static 'commons/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/app/pay.css' %}">
</head>
<body>

    <div class="container_fluid button">

        <div class="container title">

            <!--左-->
            <img class="title_left left" src="{% static 'store/images/mi.png' %}">

            <!--中-->
            <div class="title_in">
                <p class="left">支付订单</p>
                <span class="left">所以请确认一哈</span>
            </div>

            <!--右-->
            <div class="title_right right">
                <a href="javascript:void(0);">
                    这里显示用户名
                </a>
                <span>|</span>
                <a href="javascript:void(0);">
                    我的订单
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <!--订单信息-->
            <div class="row">
                <div class="col-md-2">
                    <img src="">
                </div>

                <div class="col-md-10">
                    <ul>
                        <li>
                            <h3>订单提交成功！去付款咯~</h3>
                        </li>
                        <li>
                            <h4>请在0小时30分内完成支付，超时候将取消订单</h4>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <!--付款方式-->
            <div>

            </div>
        </div>
    </div>
</body>
</html>