<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="2;url={% url 'commons:index' %}">
    <meta charset="UTF-8">
    <title>退出登录</title>
    <style>
        *{
            margin:0;
            padding: 0;
        }
        body{
            background: url("../../../static/image/1.png") no-repeat center top;
            background-color: rgba(0,0,0,0.9);

        }
        h1{
            /*width: 38%;*/
            color: #fff;
            text-align: center;
            vertical-align: middle;
            margin-top: 20% ;
        }
    </style>
</head>
<body>

    <h1>您已成功退出！ 正在为您跳转...</h1>


</body>
</html>